<div class="container">
	
</div>

<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center">Search Results</h1><br/>

<div class="row">

	<% if @movie_results.count > 0 %>
		<% @movie_results.each do |movie| %>
		  <div class="col-sm-6 col-md-2">
		    <div class="thumbnail">
		      <%= image_tag movie.image.url(:cover_small) %>
		      <div class="caption">
		        <p><strong><%= truncate(movie.title, :length => 30) %></strong></p>
		        <p><%= link_to 'VIEW', movie, :class => "btn btn-default btn-block", :role => "button", :style => "color: #000" %></p>
		        <% if current_user %>
		        <p><%= link_to 'EDIT', edit_movie_path(movie), :class => "btn btn-primary btn-block", :role => "button", :style => "color: #FFF" %></p>
		        <p><%= link_to 'DELETE', movie, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-block", :role => "button", :style => "color: #FFF" %></p>
		        <p><span class="label label-primary"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> <%= pluralize(movie.reviews.count, "comment") %></span></p>
		        <% end %>
		      </div>
		    </div>
		  </div>
		<% end %>
	<% else %>
		<div class="alert alert-info alert-dismissible fade in" role="alert" style="max-width: 600px; margin: 0 auto">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
		  <strong>Oooops!</strong> Looks like the movie you're looking for is not yet existed.
		</div>
	<% end %>

</div>

</div>