<div class="container">

<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-3">
		<p>
			<%= image_tag @movie.image.url(:medium), :class => "img-thumbnail" %>
		</p>
	</div>
	<div class="col-md-9">
		<p>
		  <strong>Title:</strong>
		  <%= @movie.title %>
		</p>

		<p>
			<strong>Average Rating:</strong>
			<span class="star-rating" data-number= <%= (@movie.reviews.sum(:rating) / @movie.reviews.length) if @movie.reviews.length != 0 %> ></span>
		</p>

		<p>
		  <strong>Duration:</strong>
		  <%= @movie.duration %>
		</p>

		<p>
		  <strong>Director:</strong>
		  <%= @movie.director %>
		</p>

		<p>
		  <strong>Description:</strong>
		  <%= @movie.description %>
		</p>

		<br>
		<p>
			<strong>Review Author:</strong>
			<%= @movie.user.username %>
		</p>

	</div>
	<div style="clear: both"></div>
</div>

<% @movie_reviews.each do | r | %>
	<div class="well">
		<div class="col-md-1"><p><%= image_tag r.user.photo(:thumb), :class => "img-thumbnail" %></p></div>
		<div class="col-md-11">
			<div class="star-rating" data-number= <%= r.rating %> ></div>
			<span><small><strong><%= r.user.username %></strong></small></span>
			<br>
			<br>
			<% @count = r.rating %>
			<p><%= r.comment %></p>
			
			<p>
				<small>Created: <%= time_ago_in_words(r.created_at) %> ago</small> |
				<small>Edited: <%= time_ago_in_words(r.updated_at) %> ago</small>
				<% if current_user %>
				<%= link_to 'Edit', edit_movie_review_path(@movie, r), :class => 'btn btn-primary btn-xs', :style => 'color: #FFF' if current_user.id === r.user.id%>
				<% end %>
			</p>
		</div>
		<div style="clear:both"></div>
	</div>
<% end %>

<% if current_user %>
	<br>
	<hr>
	<%= render partial: 'reviews/new' %>
<% end %>

<script>
	$('.star-rating').raty({
		path: '/assets/',
		readOnly: true,
		score: function( ){
			return $(this).attr('data-number');
		}
	})
</script>

</div>