<% args = params[:action] === 'show' ? @movie.reviews.new : @review %>
<%= form_for([@movie, args]) do |f| %>
  <!-- <%# if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%#= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <%# @review.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
      </ul>
    </div>
  <%# end %> -->

  <div class="field form-group">
    <%= f.label :rating %>
    <div id="star-rating"></div>
  </div>
  <div class="field form-group">
    <%= f.label :comment %><br>
    <%= f.text_area :comment, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit Review', :class => 'btn btn-primary', :role => 'button' %>
  </div>
<% end %>

<script>
  $('#star-rating').raty( {
    path: '/assets/',
    scoreName: 'review[rating]'
  } )
</script>

<%#= params[:action] === "edit" ? form_for([@movie, @movie.reviews]) : form_for([@movie, @movie.reviews.new]) do |f| %>